.input {
    width: 630px;
    height: 40px;
    padding: 10px;
    border-radius: 8px;
    margin: 15px;
}
.search_button{
    position: relative;
    right: 80px;
    height: 40px;
    background-color:var(--white-color);
    width: 50px;
    border-radius: 0px 8px 8px 0px;
    cursor: pointer;
    margin: 15px;
}
.input_container {
    display: flex;
}